/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styles pour les boutons */
.custom-btn,
.btn-outline-success {
    padding: 8px 16px;
    margin: 0 8px;
    font-size: 16px;
    border: 1px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
}

.custom-btn {
    background-color: #365486;
    color: #ffffff;
}

.custom-btn:hover {
    background-color: #79d07b;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

/*la recherche un produits*/
.buR{
    padding: 8px 16px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    background-color: #365486;
    color: #ffffff;

}
.buR:hover {
    background-color: #ffffff;
    color: #365486;
}

.iptR{
    padding: 8px 16px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    background-color: #365486;
    color: #ffffff;

}

/* Main content styling */
.main-content {
    flex: none;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.user-wrapper {
    display: flex;
    align-items: center;
}

.user-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
}

.logout-btn {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #fd0707;
}

.btnAjout{
    padding: 5px 10px;
    margin: 8px;
    font-size: 23px;
    border: 2px solid #141cc9;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.2s;
    background-color: #365486;
    color: #ffffff;
}

.btnAjout:hover{
    background-color: #07af0a;

}
/* Sample styling for main content */
main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* pour table*/

/* Styles pour le titre de la section */
.title {
    display: flex;
    justify-content: center;
    color: #141cc9;
    font-size: 45pt;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Styles pour le tableau */
.tablee {
    width: 100%;
    border-collapse: collapse;
}

.tablee th, .tablee td {
    border: 1px solid #365486; /* Couleur de la bordure du tableau */
    padding: 10px;
    text-align: center;
}

/* Styles pour les lignes impaires du tableau */
.tablee tbody tr:nth-child(odd) {
    background-color: #DCF2F1;
}

/* Styles pour les lignes paires du tableau */
.tablee tbody tr:nth-child(even) {
    background-color: #7FC7D9;
}


.edit-button:hover {
    background-color: #485ce8;
}
.delete-button:hover {
    background-color: #485ce8;
}
.delete-button {
    font-size: 16px; /* Taille de la police du texte */
    padding: 10px 20px; /* Rembourrage (haut/bas, gauche/droite) */
    height: 40px; /* Hauteur du bouton */
    background-color: #ff0000;
    color: #fff;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}
.edit-button {
    font-size: 16px; /* Taille de la police du texte */
    padding: 10px 20px; /* Rembourrage (haut/bas, gauche/droite) */
    height: 40px; /* Hauteur du bouton */
    background-color: #00ff00;
    color: #fff;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/*botton ajouter Produit*/
.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.pagination-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image-style {
    width: 170px; /* Largeur de l'image */
    height: 190px; /* Hauteur automatique pour maintenir le ratio */
    border: 1px solid #ccc; /* Bordure de l'image */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre légère */
}
