/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Changé de content-box à border-box */
}

nav {
    display: flex; /* Changé de inline à flex */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styles pour les boutons */
.custom {
    background-color: #365486;
    color: #ffffff;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
}

.custom:hover {
    background-color: #a7b7ff;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

/* Recherche un produit */
.buR, .iptR { /* Les styles sont similaires, donc ils sont combinés */
    padding: 8px 16px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    background-color: #365486;
    color: #ffffff;
}

.buR:hover,
.iptR:hover {
    background-color: #ffffff;
    color: #365486;
}

/* Main content styling */
.main-content {
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Autres styles inchangés pour la cohérence */

/* Styles pour le titre de la section */
.title {
    display: flex;
    justify-content: center;
    color: #141cc9;
    font-size: 45pt;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Styles pour le tableau */
.tablee {
    width: 100%; /* Modifié à 100% pour qu'il occupe toute la largeur */
    border-collapse: collapse;
}

.tablee th {
    border: 1px solid #365486; /* Couleur de la bordure du tableau */
    padding: 10px;
    text-align: center;
}

.tablee td {
    border: 1px solid #365486; /* Couleur de la bordure du tableau */
    padding: 10px;
    text-align: center; /* Changé à center pour correspondre à th */
}

/* Styles pour les lignes impaires du tableau */
.tablee tbody tr:nth-child(odd) {
    background-color: #DCF2F1;
}

/* Styles pour les lignes paires du tableau */
.tablee tbody tr:nth-child(even) {
    background-color: #7FC7D9;
}

.edit-button:hover {
    background-color: #485ce8;
    margin-bottom: 5px;
}

.delete-button:hover {
    background-color: #485ce8;
    margin-top: 5px;
}

.delete-button {
    font-size: 16px;
    padding: 10px 20px;
    height: 40px;
    background-color: #ff0000;
    color: #fff;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-button {
    font-size: 16px;
    padding: 10px 20px;
    height: 40px;
    background-color: #00ff00;
    color: #fff;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/*bouton ajouter Produit*/
.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image-style {
    width: 170px;
    height: 190px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ous {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

@media only screen and (max-width: 1024px) {
    .drawer {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #f8f9fa;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .drawer a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #365486;
        display: block;
        transition: 0.3s;
    }

    .drawer a:hover {
        background-color: #a7b7ff;
        color: #fff;
    }

    .drawer .close-btn {
        position: fixed;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

    .drawer .close-btn:hover {
        color: #fd0707;
    }

    /*la recherche un produits*/
    .buR, .iptR { /* Les styles sont similaires, donc ils sont combinés */
        padding: 6px 10px;
        margin: 6px;
        font-size: 9px;
        border: 2px solid #141cc9;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.2s;
        background-color: #365486;
        color: #ffffff;
    }

    .buR:hover, .iptR:hover {
        background-color: #ffffff;
        color: #365486;
    }

    /* Main content styling */
    .main-content {
        flex: content;
        padding: 5px;
    }

    .btnAjout {
        padding: 6px 9px;
        margin: 6px;
        font-size: 14px;
        border: 2px solid #141cc9;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.2s;
        background-color: #365486;
        color: #ffffff;
    }

    .btnAjout:hover {
        background-color: #07af0a;
    }

    /* Styles pour le titre de la section */
    .title {
        display: flex;
        justify-content: center;
        color: #141cc9;
        font-size: 40pt;
        font-weight: 900;
        margin-bottom: 17px;
    }

    .tablee {
        margin-left: auto;
        margin-right: auto;
    }


    .tablee th {
        border: 1px solid #365486;
        padding: 1px;
        text-align: center;
    }

    .tablee td {
        border: 1px solid #365486;
        padding: 1px;
        text-align: center;
    }

    .edit-button:hover {
        background-color: #485ce8;
        margin-bottom: 2px;
    }

    .delete-button:hover {
        background-color: #485ce8;
        margin-top: 2px;
    }

    .delete-button {
        font-size: 10px;
        padding: 7px 12px;
        height: 22px;
        background-color: #ff0000;
        color: #fff;
        margin-top: 4px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .edit-button {
        font-size: 10px;
        padding: 6px 12px;
        height: 22px;
        background-color: #00ff00;
        color: #fff;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    /*bouton ajouter Produit*/
    .title-and-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .pagination-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .image-style {
        width: 85px;
        height: 95px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .ous {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 1px 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    header {
        display: none;
    }
    .nanos {
        overflow-x: auto;
    }

}
