/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styles pour les boutons */
.custom {
    background-color: #365486;
    color: #ffffff;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #141cc9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
}

.custom:hover {
    background-color: #a7b7ff;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}


/* Main content styling */
.main-content {
    flex: none;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: fixed; top: 0; width: 100%; background-color: #f8f9fa; padding: 1px 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 100;
}



.user-wrapper {
    display: flex;
    align-items: center;
}

.user-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
}

.logout-btn {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #fd0707;
}


/* Sample styling for main content */
main {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Styles pour le titre de la section */
.title {
    display: flex;
    justify-content: center;
    color: #141cc9;
    font-size: 2.5rem; /* Taille de la police */
    font-weight: bold; /* Gras */
    margin-bottom: 10px; /* Espacement en dessous */
}

.main-content {
    margin: 20px auto; /* Centrer le contenu */
    max-width: 800px; /* Limiter la largeur du contenu */
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* Styles pour le type d'utilisateur */
.user-type {
    text-align: center; /* Centrer le texte */
    color: #850505; /* Couleur du texte */
    font-size: 1rem; /* Taille de la police */
    margin-bottom: 20px; /* Espacement en dessous */
}


/* Styles pour les détails de l'utilisateur */
.user-details {
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    margin-top: 20px; /* Espacement en haut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.user-details p {
    margin-bottom: 10px; /* Espacement entre les éléments */
}

/* Styles pour les erreurs de session */
.session-error {
    color: red; /* Couleur du texte en cas d'erreur */
    font-weight: bold; /* Gras */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Espacement en haut */
}
.ous {
    display: none;
    position: fixed; top: 0; width: 100%; background-color: #f8f9fa; padding: 1px 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 100;
}

@media only screen and (max-width: 1024px) {
    .drawer {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #f8f9fa;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .drawer a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #365486;
        display: block;
        transition: 0.3s;
    }

    .drawer a:hover {
        background-color: #a7b7ff;
        color: #fff;
    }

    .drawer .close-btn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

    .drawer .close-btn:hover {
        color: #fd0707;
    }



    /* Main content styling */
    .main-content {
        flex: none;
        padding: 5px;
    }

    header {
        display: none;

    }

    /* Sample styling for main content */
    main {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    /* pour table*/

    /* Styles pour le titre de la section */
    .title {
        display: flex;
        justify-content: center;
        color: #141cc9;
        font-size: 30pt;
        font-weight: 900;
        margin-bottom: 15px;
    }


    .ous {
        display: flex;
        position: fixed; top: 0; width: 100%; background-color: #f8f9fa; padding: 1px 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 100;
    }

    header {
        display: none;
    }
}